:root {
  background-image: url('./imgs/background.jpg');
}
h1 {
  text-align: center;
}
h5 {
  color: white;
  font-size: 22px;
  background-color: black;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgb(208, 208, 0);
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 0 auto;
  width: 65%;
  height: 280px;
  padding: 50px;
  padding-left: 137px;
}
.container > div {
  background-color: lightgray;
  border-radius: 10px;
  margin: 10px;
  font-size: 30px;
  width: 5em;
  height: 9em;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  /* transform: rotate(20deg); */
}

.flexContent {
  display: flex;
  justify-content: center;
}
.dealBtn {
  background-color: rgb(209, 209, 3);
  width: 180px;
  height: 80px;
  border-radius: 8px;
  font-size: 50px;
  font-weight: bolder;
}
.flexReset {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.resetBtn {
  background-color: transparent;
  color: yellow;
  border: 2px solid yellow;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  margin-right: 80px;
  font-weight: bolder;
  font-size: 20px;
}

.ribbon {
  background-color: orange;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -35px;
}
.looser-cap {
  color: rgb(245, 206, 134);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
