:root {
  background-image: url('./imgs/background.jpg');
}
h1 {
  text-align: center;
  font-size: 4em;
}
h5 {
  text-align: center;
  border: 1px solid yellow;
  background-color: black;
  color: white;
  margin: 0 auto;
  font-size: 24px;
  width: 10rem;
  height: 10rem;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  margin: 0 auto;
  width: 65%;
  height: 280px;
  padding: 50px;
}
.container > div {
  background-color: lightgray;
  border-radius: 10px;
  font-size: 2em;
  width: 5em;
  text-align: center;
  margin: 15px;
}
.dealBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: yellow;
  color: black;
  font-weight: bolder;
  border-radius: 8px;
  font-size: 50px;
  width: 3em;
}
.resetBtn {
  display: flex;
  margin: 0 auto;
  background: yellow;
  color: black;
  font-weight: bolder;
  border-radius: 8px;
  font-size: 50px;
  width: 3em;
}
